body {
  background: url('bg.png');
  color: black;
  font-size: 14pt;
}

h1 {
  position: absolute;
  margin-top: 0%;
  top: 0%;
  left: 0%;
  color: #FFFFFF;
  font-size: 40%;
  width: 100%;
  background-color: #00000000;
}

h2 {
  margin-top: 40px;
  font-size: 30pt;
  text-align: center;
}

h3 {
  font-size: 21pt;
  text-align: center;
  font-weight: normal;
  font-style: italic;
}

h4 {
  font-size: 18pt;
  text-align: center;
  font-weight: normal;
  font-style: italic;
}

details {
  color: #004;
}

summary {
  color: black;
  font-size: x-large;
  font-weight: bold;
}

img {
  max-width: 49%;
  max-height: 100%;
}

center {
  display: inline-block;
  vertical-align: middle;
  width: 49%;
  max-height: 100%;
}

.a {
  font-size: 10pt;
  font-style: italic;
}

.b {
  font-size: 12pt;
}

:root {
  --main-frames: 6;
}

@keyframes slideshow {
  0% { opacity: 0; } /* 0% / 5 */
  2.4% { opacity: 1; } /* 12% / 5 */
  17.6% { opacity: 1; } /* 88% / 5 */
  20% { opacity: 0; } /* 100% / 5 */
  100% { opacity: 0; }
}

.banner {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  width: 95%;
  margin-left: 2.5%;
  height: 0;
  padding-top: 35.625%;
  animation-name: slideshow;
  animation-duration: 24s; /* 4s * 6 */
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  opacity: 0;
}

.slide_0 {
  background-image: url('bread.jpg');
  animation-delay: 0s;
  opacity: 1;
}

.slide_1 {
  background-image: url('spices.jpg');
  animation-delay: 4s;
}

.slide_2 {
  background-image: url('jarmixes.jpg');
  animation-delay: 8s;
}

.slide_3 {
  background-image: url('pbcookie.jpg');
  animation-delay: 12s;
}

.slide_4 {
  background-image: url('sboxes.jpg');
  animation-delay: 16s;
}

.slide_5 {
  background-image: url('lefsedilla.jpg');
  animation-delay: 20s;
}

.bannerbg {
  position: absolute;
  background: white;
  background-size: contain;
  background-repeat: no-repeat;
  width: 95%;
  margin-left: 2.5%;
  height: 0;
  padding-top: 35.625%;
}

.inner {
  margin-bottom: 3%;
  margin-top: 3%;
  margin-left: 4%;
  margin-right: 4%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 4%;
  padding-top: 1%;
  background-image: url('inner.png');
}

div.sticky {
  margin-bottom: 3%;
  margin-top: -50px;
  margin-left: 6%;
  margin-right: 6%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 5px;
  background-color: #DDDD;
  box-shadow: 0 0 16px 16px #DDDD;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
} 

.mnmunch {
  padding-top: 35.625%;
  position: relative;
}

.header {
  width: 84%;
  margin-left: 4%;
  margin-right: 4%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 1%;
  padding-top: 1%;
  background-image: url('inner.png');
  display: inline-block;
}

button {
  margin: 0px;
  font-size: 14pt;
  background: #FFFF;
  border-radius: 5px;
}
